<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question page</title>
</head>
<body>
    <h1>{{ question.question }}</h1>
    <form action="/answer" method="POST">
        {% for choice in question.choices %}
        <p>
            <input type="radio" name="answer" value="{{ choice }}"> {{ choice }}>
        {% endfor %}
        </p>
        <button>Continue</button>
        
    </form>
    
</body>
</html>